<h1 class="text-center font-slim md:text-4xl lg:text-5xl">{{ component.testi_slides_title }}</h1>
<section class="bg-[#f0f0f0] relative">
    <div class="mx-auto w-full lg:w-1/2 h-[50vh] flex justify-center items-center">
        <salla-slider id="main-slider-{{ position }}" class="w-full h-full" auto-play show-controls="false" pagination>
            <div slot="items" class="h-full">
                {% for slide in component.testi_slides_collection %}
                    <div class="swiper-slide w-full h-full flex items-center justify-center">
                        <img src="{{ slide.testi_slides_img }}" alt="Testimonial Image" class="max-w-[50%] max-h-full object-contain mx-auto">
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
    {% if component.testi_slides_bg %}
        <img src="{{ component.testi_slides_bg }}" alt="Bottom Right Image" class="hidden lg:block lg:absolute lg:bottom-5 lg:right-20 lg:w-[12vw]">
    {% endif %}
</section>
