<h1 class="text-center font-slim text-xl md:text-4xl lg:text-5xl">{{ component.testi_slides_title }}</h1>
<section class="bg-[#f0f0f0] relative">
    <salla-slider id="main-slider-{{ position }}" class="mx-auto w-full sm:w-3/4 lg:w-1/3" auto-play show-controls="true" pagination>
        <div slot="items">
            {% for slide in component.testi_slides_collection %}
                <img src="{{ slide.testi_slides_img }}" alt="Testimonial Image" class="w-full h-auto object-contain">
            {% endfor %}
        </div>
    </salla-slider>
    {% if component.testi_slides_bg %}
        <img src="{{ component.testi_slides_bg }}" alt="Background Image" class="hidden sm:hidden lg:block lg:absolute lg:bottom-5 lg:right-20 lg:w-[12vw]">
    {% endif %}
</section>
